<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{data.nombre + ' ' + data.apellido}}</mat-card-title>
    <mat-card-subtitle>{{data.dni}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="data.image" alt="Photo of a Shiba Inu">
  <mat-card-content style="margin-top: 10px;">
    <p>Sexo: {{data.sexo}}</p>
    <p>Fecha de nacimiento: {{data.nacimiento | date: undefined: 'es'}}</p>
    <p>Email: {{data.email}}</p>
  </mat-card-content>
</mat-card>